/* All style */
.App{
  font-size: larger;
  font-family: AppleSDGothicNeoB00, serif;

}
/* A Tag style */
a{
  text-decoration: none;
  color: #000;
}
a:hover{
  color: beige;
}

/*Header style*/
header{
  font-size: 30px;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
header .logo:hover{
  background-color : rgb(255,255,255); opacity : 0.5;
}
.menu ul{
  flex-grow: 1;
  justify-content: center;
}
.menu{
  flex-grow: 1;
}
/*All ul, li style*/
ul, li{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 30px 0 0;
}

/*main views*/
main{
  /*flex: 1;*/
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}
/* Main All type */
.container{
  flex-direction: column;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 15px;
  position: relative;
  /*height: 85vh;*/
}

.main-container{
  flex: 1;
  display: flex;
  align-items: center;
  margin: 35px;
  justify-content: space-evenly;
}
/*game-room views*/
.game-room{
  display: grid;
}
table{
  border-collapse: collapse;
}
thead {
  border-bottom: 2px solid;
  border-top: 2px solid;
  font-size: 22px;
}
tbody{
}
th{
  text-align: center;
}
th .btn{
  padding: 1px 30px 1px 30px;
}

.game-room-create{
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.game-room-create-btn{
  padding: 10px 15px;
  margin: 20px 20px 10px;

}

/*playGame*/
.play-game-room{
  height: 700px;
  border: 3px solid;
}
.chat-row{
  /*height: 100%;*/
  margin-right: 5px;
}
.user-info-row{
  /*height: 520px;*/
  /*margin-bottom: 120px;*/

}
.play-game-out-row{

}


/*footer*/
footer{
  /*position: absolute;*/
  /*bottom: 0;*/
  text-align: center;
  padding: 10px;
  color: #000;
}